@import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  text-decoration: none;
  /* border: 1px solid red;*/
}

header {
  background-image: url("../img/BGs/hp-imag-slider--ru.jpg");
  background-size: cover;
  padding-bottom: 219.58px;
}

.wraper {
  max-width: 1182px;
  margin: 0 auto;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 27.46px;
}
.header-top span {
  color: white;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 240px;
}
.middle img {
  width: 155.86px;
}
.middle nav {
  width: 525px;
}
.middle nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
.middle nav ul a {
  color: white;
  font-size: 18px;
}
.middle nav ul a a:hover {
  border-bottom: 5px solid #C49A6C;
}

.button {
  text-transform: uppercase;
  background-color: red;
  width: 200px;
  text-align: center;
  font-size: 12px;
  padding: 12px 0;
  border-radius: 50px;
  font-family: 'Myriad Pro';
  letter-spacing: 1px;
}
.button-brown {
  background-color: #C49A6C;
  border: 2px solid #C49A6C;
}
.button-white {
  background-color: white;
  border: 2px solid white;
}
.button:hover {
  background-color: transparent;
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

h1 {
  width: 450px;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 52px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  width: 617px;
  line-height: normal;
  color: white;
  padding: 32px 0;
}

/* square block in the end of header 
header:before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: $secondary-color;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
}
*/
.projects {
  background-color: #F1F2F2;
}

h2 {
  font-size: 52pt;
  color: #414042;
  font-family: "PT Sans", sans-serif;
  padding-bottom: 88px;
  padding-top: 57px;
}

.project-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*justify-content: space-between;*/
  margin-right: -20px;
  margin-top: -25px;
  padding-bottom: 134px;
}

.item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 25.3333%;
      flex-basis: 25.3333%;
  /*border: 1px solid red;*/
  margin-right: 20px;
  margin-top: 25px;
  border-radius: 25px;
  overflow: hidden;
}
.item:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 0 0 5px 0px #C49A6C;
          box-shadow: 0 0 5px 0px #C49A6C;
}
.item-top {
  background-size: cover;
  height: 155px;
}
.item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: space-round;
      -ms-flex-pack: space-round;
          justify-content: space-round;
}
.item-bottom .item-title {
  padding: 30px 0 30px 34px;
  font-family: "PT Sans", sans-serif;
  color: #8395A7;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.item-bottom .item-link {
  border-radious: 50%;
  width: 15px;
}
.item:nth-of-type(1) .item-top {
  background-image: url("../img/BGs/project-shopping-malls.jpg");
}
.item:nth-of-type(2) .item-top {
  background-image: url("../img/BGs/project-business-centres.jpg");
}
.item:nth-of-type(3) .item-top {
  background-image: url("../img/BGs/project-retail.jpg");
}
.item:nth-of-type(4) .item-top {
  background-image: url("../img/BGs/project-social.jpg");
}
.item:nth-of-type(5) .item-top {
  background-image: url("../img/BGs/project-food.jpg");
}
.item:nth-of-type(6) .item-top {
  background-image: url("../img/BGs/project-media-alt.jpg");
}

/*What we do */
.wedo {
  padding-bottom: 59px;
}

.wedo-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -75px;
  position: relative;
}
.wedo-inner .column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 75px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: normal;
  /* &-right::after {
       content: 'fasfsaafd';
       display: block;
       background-color: $secondary-color;
       width: 600px;
       height: 700px;
       position: absolute;
       z-index: 100;
       top: 10px; 
   }
       */
}
.wedo-inner .column-right .wedo-item__icon {
  background-image: url("../img/Elements/what-we-do-concept.svg");
}
.wedo-inner .column-left .wedo-item:nth-child(1) .wedo-item__icon {
  background-image: url("../img/Elements/what-we-do-marketing.svg");
}
.wedo-inner .column-left .wedo-item:nth-child(2) .wedo-item__icon {
  background-image: url("../img/Elements/what-we-do-design.svg");
}
.wedo-inner .column-left .wedo-item:nth-child(3) .wedo-item__icon {
  background-image: url("../img/Elements/what-we-do-brandmix.svg");
}
.wedo-inner .column-left .wedo-item:nth-child(4) .wedo-item__icon {
  background-image: url("../img/Elements/what-we-do-management.svg");
}

.wedo-item {
  padding-bottom: 63px;
}
.wedo-item__icon {
  /*background-image: url("/img/Elements/what-we-do-brandmix.svg");*/
  background-repeat: no-repeat;
  height: 80px;
  /*??????????*/
}
.wedo-item h3 {
  font-family: "PT Sans", sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 2px;
  margin: 22px 0;
}
.wedo-item__pic {
  background-image: url("../img/Elements/what-we-do-image.jpg");
  background-size: cover;
  height: 900px;
  margin-top: 63px;
}

.partners {
  background-image: url("../img/BGs/partners-bg.jpg");
  background-repeat: no-repeat;
}
.partners h2 {
  color: white;
}
.partners-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: -25px;
  padding-bottom: 153px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 22px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid white;
}
.partners-item:first-child {
  background-image: url("../img/Logos/partner-logo-1.png");
}
.partners-item:nth-child(2) {
  background-image: url("../img/Logos/partner-logo-2.png");
}
.partners-item:last-child {
  background-image: url("../img/Logos/partner-logo-3.png");
}

/* Footer */
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 105px 0;
}

.footer-column-right {
  font-family: "PT Sans", sans-serif;
}

.contacts {
  margin: 35px 0;
}
.contacts-info {
  font-size: 15px;
  color: #414042;
  padding: 5px 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
}
.social-info {
  margin-right: 10px;
}

.footer-column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -40px;
}

.left {
  margin-right: 40px;
  width: 300px;
}
.left h4 {
  font-family: "PT Sans", sans-serif;
  color: #414042;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid #C49A6C;
  margin-bottom: 20px;
}
.left ul li {
  color: #414042;
  font-family: "PT Sans", sans-serif;
  padding: 5px 0;
  font-size: 15px;
}

.footer-bottom {
  background-color: #F1F2F2;
  padding: 10px 0;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-inner .rights {
  color: #414042;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
}
.footer-inner img {
  height: 50px;
}
.footer-inner span {
  color: "PT Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/*# sourceMappingURL=main.css.map */